/* Import  Font Style */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Merienda+One&display=swap');

/* Default Value */
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Da 2', cursive;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: black;
}
/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Button */

.button {
    margin: 5px 10px;
    border-radius: 10px;
    background-color: rgb(133, 120, 120);
    box-sizing: border-box;
    padding: 0 10px;
    color: white;
}
.button:active {
    opacity: 0.5;
    transition: none;
}
/* Navigation */
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px 0;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0px 46px 151px -5px rgba(176,173,176,0.47);
}

nav h1 {
    font-family: 'Merienda One', cursive;
}
nav ul li a {
    text-decoration: none;
    padding: 20px;
}
ul {
    display: flex;
    list-style: none;
}
nav ul li a.text-dark:hover{
    text-shadow: 0 0 5px rgb(206, 206, 206), 0 0 10px rgb(111, 194, 219),  0 0 15px rgb(54, 134, 255),   0 0 20px rgb(37, 124, 255);
    transition: 0.3s;
}
nav ul li a.text-white:hover {
    text-shadow: 0 0 5px rgb(255, 211, 15),0 0 5px rgb(255, 211, 15),0 0 5px rgb(255, 211, 15), 0 0 10px rgb(255, 243, 72),  0 0 15px rgb(255, 253, 126), 0 0 40px rgb(254, 255, 170) ;
    transition: 0.3s;
}

/* Toggle */

.toogle {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-top: -25px;
    margin-bottom: -90px;
    display: flex;
    justify-content: center;
}
.toogle a {
    display: flex; 
}
.toogle a img {
    width: 45px;
    margin: auto;
}

.toogle:hover {
    cursor: pointer;
}

/* Body Content */

#body-content {
    padding-top: 55px;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.content {
    box-sizing: border-box;
    padding: 25px;
}

/* Static Content */

#static-content {
    width: 35%;
    float: left;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#static-content figure {
    
    text-align: center;
}
#static-content figure img {
    width: 150px;
}
.border-white {
    border-right: 2px solid rgb(32, 32, 32) ;
}
.border-dark {
    border-right: 2px solid rgb(245, 245, 245) ;
}
.role {
    margin-top: -5px;
}
.name {
    font-size: 1.5em;
}

/* Dynamic Content */

#dynamic-content {
    margin-top: 40px;
    float: right;
    width: 65%;
    box-sizing: border-box;
    padding-left: 40px;
    padding-bottom: 100px;
}



/* Animation & Transition */

.nav-dark, .nav-white, .content-light, .text-white, .text-dark, .dark, .white {
    transition: 0.6s;
}


.fade{
    opacity: 0;
    transition: 0.8s;
  }

/* Dynamic Value */

.active-dark {
    font-weight: 800;
    text-shadow: 0 0 5px rgb(206, 206, 206), 0 0 10px rgb(111, 194, 219),  0 0 15px rgb(54, 134, 255),   0 0 20px rgb(37, 124, 255);
    transition: none;
}
.active-white {
    font-weight: 800;
    text-shadow: 0 0 5px rgb(255, 211, 15),0 0 5px rgb(255, 211, 15),0 0 5px rgb(255, 211, 15), 0 0 10px rgb(255, 243, 72),  0 0 15px rgb(255, 253, 126), 0 0 40px rgb(254, 255, 170) ;
    transition: none;
}

.white {
    background-color: rgb(248, 248, 248);
}
.dark {
    background-color: rgb(29, 29, 29);
}
.text-white{
    color: #2b2b2b;
}
.text-dark {
    color: white;
}
.content-light {
    background-color: rgb(248, 248, 248);;
}
.nav-white {
    background-color: white;
}
.nav-dark {
    background-color: rgb(29, 29, 29);
}

/* Sosmed */

.sosmed {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sosmed a {
    margin: 15px 8px;
}
.sosmed a img {
   width: 20px ;
}
/* Project Page */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.pro p  {
    text-align: center;
    opacity: 0.7;
}

/* Card */

.card {
    background-color: wheat;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 18px 76px -21px rgba(0,0,0,0.28);
    margin-top: 30px;
    margin-right: 15px;
}
.card-header {
    padding: 10px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}
.card-main img {
    width: 260px;
}
.card-title {
    margin-top: -10px;
    padding: 15px 0;
    text-align: center;
    background-color: white;
}
.card-title p {
    margin-bottom: 20px;
}
.card:active {
    opacity: 0.5;
    transition: 0.2s;
}

/* Skills Page */

.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills .card {
    width: 250px;
}
.skills .card-header {
    padding: 5px;
}



/* Contact Page */

.form {
   text-align: center;
    margin-top: 50px;
}
form  {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    box-sizing: border-box;
    padding: 0 40px;
    border: unset;

}
.input-val{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 8px;
}
.input .button {
    width: 70px ;
    margin-top: 20px;
}

.skills, .pro,.home, .contact {
    margin-top: 70px;

}

/* Responsive */

@media  (max-width: 920px){
    #static-content {
        float: none;
        width: auto;
        height: auto;
        position: relative;
        border-right: none;
        margin-top: 100px;
        justify-content: unset;
    }
    #dynamic-content {
        float: none;
        width: 100%;
   
    }
    #body-content {
        margin-bottom: 100px;
    
    }
    nav{
        top: unset;
        bottom: 0;
    }
    nav ul li a {
        padding: 10px 10px;
    }

    .toogle{
        margin-top: -30px;
    }
    .toogle a img {
        width: 40px;
        margin: -10px auto 0px auto;
    }
    .card-main img {
        width: 100%;
    }
    .skills .card {
        width: 100%;
    }
    .certificates {
        margin-left: -10px;
    }
    
}
@media (max-width: 600px){

    nav ul li a {
        padding: 10 8px;
        font-size: 15px;
    }

    .sosmed a img {
        width: 25px ;
     }
}
@media (max-width: 350px){
    nav ul li a {
        font-size: 13px;
        padding: 10px 5px;
    }
    form  {

        padding: 0 20px;
    }
}
